.container {
  min-height: 100vh;
  width: 100%;
  scrollbar-width: none;
  margin-bottom: 4vh;
  margin-left: 29vh;
}

.showCase {
  display: flex;
  width: 100%;
  align-items: flex-end;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.4, rgb(23, 59, 70)), color-stop(0.01, rgba(0, 0, 0, 0.205)));
  overflow-y: hidden;
  height: 32vh;
}

.playlist {
  display: flex;
  margin-bottom: 5vh;
  margin-left: 10px;
}

.playlistCover {
  max-width: 35vh;
  max-height: 20vh;
  border-radius: 30px;
  border-style: groove;
  border-color: #2196f3;
}

.playlistName {
  font-family: "Verdana", "Sans-serif";
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
  margin-left: 2vh;
  /* margin-bottom: 30px; */
  font-size: 5vh;
  font-weight: normal;
}

.card {
  width: 100%;
  height: 100%;
}