.container {
  min-height: 100vh;
  width: 100%;
  scrollbar-width: none;
  margin-bottom: 80px;
}

.containerList {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
  justify-items: center;
  list-style-type: none;
  color: white;
  background-color: black;
  font-size: 17px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.song {
  display: flex;
  justify-content: center;
}

.coverImage {
  margin: 10px;
  width: 40px;
  height: 40px;
}

.card {
  width: 100%;
  height: 100%;
}

.li {
  display: flex;
}

.user {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 30px;
  background-color: #1e1e1ec2;
  padding-right: 3px;
  padding-left: 7px;
  border-color: #1e1e1ec2;
  margin: 0.8rem;
  opacity: 80%;
}

.user:hover {
  opacity: 90%;
  cursor: pointer;
}

.img {
  margin-left: 0.5rem;
  max-width: 55px;
  height: auto;
  border-radius: 50%;
}

.name {
  font-weight: normal;
  font-size: 17px;
}

.showCase {
  display: flex;
  align-items: flex-end;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.4, rgb(23, 59, 70)), color-stop(0.01, rgba(0, 0, 0, 0.205)));
  overflow-y: hidden;
  height: 400px;
}

.playlist {
  display: flex;
  margin-bottom: 50px;
  margin-left: 10px;
  /* align-items: baseline; */
  /* justify-items: baseline; */
}

.playlistCover {
  /* margin-left: 100px; */
  max-width: 700px;
  max-height: 290px;
  border-radius: 30px;
  border-style: groove;
  border-color: rgb(158, 149, 226);
}

.playlistName {
  font-family: "Verdana", "Sans-serif";
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
  margin-left: 20px;
  /* margin-bottom: 30px; */
  font-size: 50px;
  font-weight: normal;
}