.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.97);
  position: relative;
  /* left: 60px; */
}

.container:after {
  position: absolute;
  content: '';
}

.duration {
  position: relative;
  display: flex;
  align-items: center;
  /* right: 200px; */
  min-width: 300px;
}

.player {
  display: flex;
  position: relative;
  right: 360px;
  align-items: baseline;
  /* justify-content: baseline; */
  width: 100%;
  /* position: relative; */
  /* top: -10px; */
}

.progressbar {
  width: 760px;
  transition: 0.2s;
}


.video {
  height: 0;
}

.buttons {
  display: flex;
  height: 70px;
  /* width: 200px; */
  font-size: 100px;
  justify-content: center;
  position: relative;
  right: 200px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: white;
  margin: 1px;
  width: 70px;
  font-size: 45px;
  border: none;
}

.volume {
  position: relative;
  left: 50px;
  display: flex;
  align-items: baseline;
  min-width: 250px;
}

.volumeValue {
  position: relative;
  left: 50px;
}

.durationValue {
  margin: 15px;
}