.container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.97);
  position: relative;
  left: 60px;
  align-items: baseline;
}

.container:after {
  position: absolute;
  content: '';
}

.buttons {
  display: flex;
}

.volume {
  display: flex;
  align-items: baseline;
  right: 0;
  min-width: 250px;
}

.volumeValue {
  position: relative;
  left: 50px;
}