.container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 1rem 2rem 1rem 2.3rem;
  margin-bottom: 50px;
  justify-content: space-around;
  overflow-x: hidden;
  overflow-y: auto;
}

.containerList {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-items: center;
  list-style-type: none;
  padding-left: 0;
  color: white;
  font-size: 17px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  border-radius: 7px;
  height: 30px;
  width: 0px;
  color: white;
  background-color: #1f1f1f;
  transition: all 1s ease-in-out;
}


.search:hover {
  height: 30px;
  width: 160px;
}

.input:hover {
  display: block;
  height: 20px;
  width: 160px;
  transition: 1s;
}

.li {
  display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  margin-bottom: 10px;
  transition: 0.2s;
  margin-left: 3px;
}

.li:hover {
  color: rgb(170, 4, 170);
  cursor: pointer;
  /* text-decoration: underline; */
}

.button {
  border: none;
  font-size: 17px;
  background-color: inherit;
  color: white;
}

.hr {
  width: 100%;
  margin-bottom: 30px;
}

.button:hover {
  cursor: pointer;
  transition: 0.4s;
  font-size: 18px;
}

/* @media only screen and (max-width:320px) {
  .containerList {
    font-size: 2em;
  }
} */