.container {
  display: flex;
  flex-direction: column;
  width: 32vh;
  align-items: baseline;
  padding: 1rem 2rem 1rem 2.3rem;
  margin-bottom: 50px;
  color: white;
  justify-content: space-around;
  overflow-x: hidden;
  overflow-y: auto;
}

.containerList {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-items: center;
  list-style-type: none;
  padding-left: 0;
  color: white;
  font-size: 17px;
}

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 30%;
  height: 30px;
  padding: 0;
  margin: 0;
  width: 270px;
  color: white;
  background-color: #1f1f1f;
  transition: all 1s ease-in-out;
}

.searchResult {
  margin-top: 50px;
  border-radius: 10px;
  width: 260px;
  height: 360px;
  background-color: white;
  border: 1px solid #ede9e9;
  color: black;
}

.avatar {
  margin-right: 5px;
  margin-bottom: 5px;
}

.information {
  display: flex;
}

.searchImage {
  width: 260px;
  height: 190px;
  border-radius: 10px;
}

.icon {
  width: 150px;
}

.searchInput {
  display: flex;
  align-items: baseline;
  border-radius: 30px;
  height: 38px;
  width: 100%;
  background-color: rgb(45, 46, 46);
  font-family: monospace;
  border-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: lighter;
  font-size: 24px;
}

.li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 40px;
  margin-bottom: 15px;
  transition: 0.2s;
  margin-left: 3px;
  border-radius: 10px;

}

.liSearch {
  padding-top: 25px;
  margin-right: 20px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.li:hover {
  cursor: pointer;
  /* background: #2196f3; */
  /* border: 1px solid #2196f3; */
  transition: 1s;
  transition-delay: 0.1s;
  /* box-shadow: 0 0 5px #2196f3, 0 0 25px #2196f3, 0 0 50px #2196f3, 0 0 200px #2196f3 */
}

.playlist {
  font-family: Monospace;
  font-size: 25px;
}

.li:active {
  /* font-size: 27px; */
  /* transition: 0.7s ease; */
  animation: press 1s 1 linear;
}

.button {
  border: none;
  font-size: 17px;
  background-color: inherit;
  color: white;
}

.hr {
  width: 100%;
  margin-bottom: 30px;
}

.button:hover {
  cursor: pointer;
  transition: 0.4s;
  /* font-size: 18px; */
}

@keyframes press {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}