.container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  height: auto;
  color: white;
  background-color: black;
  justify-content: space-evenly;
}

.information {
  display: flex;
  padding: 2px 0 10px 0;
  align-items: center;
}

.avatar {
  margin-right: 12px;
}

.song {
  width: 280px;
  height: fit-content;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid rgba(50, 50, 50, 0.8);
  /* padding: 20px; */
  /* text-align: center; */
}

.video {
  height: 20px;
}